In [1]:
import os
import fnmatch
from textblob import TextBlob
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from nltk import pos_tag,pos_tag_sents
import regex as re
import operator
from sklearn.svm import SVC, LinearSVC
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import svm
from sklearn.model_selection import GridSearchCV
import pickle
from nltk.corpus import stopwords
import sys

In [2]:
train = pd.read_csv('Amazon_reviews.csv')

In [3]:
train

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,1,__label1__,4,N,PC,B00008NG7N,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,2,__label1__,4,Y,Wireless,B00LH0Y3NM,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,__label1__,3,N,Baby,B000I5UZ1Q,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,__label1__,4,N,Office Products,B003822IRA,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,5,__label1__,4,N,Beauty,B00PWSAXAM,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...
...,...,...,...,...,...,...,...,...,...
12958,12959,__label2__,5,Y,Pet Products,B004488VQ4,Petsafe Yard & Park Rechargeable Dog Training ...,It works,It has helped a great deal very humane and goo...
12959,12960,__label2__,4,Y,Home,B00IIQPVC0,"Kurt Adler Deer Stocking Holder Decor, 8-Inch",Good not great.,Not the same craftsmanship as the Kurt Adler M...
12960,12961,__label2__,4,Y,Sports,B007MXI1HW,"Condor Tools & Knives Dynasty Dadao Sword, 21 ...",Condor a good choice,The sword is well balanced. It's made by condo...
12961,12962,__label2__,5,Y,Home,B00C7WLG8O,Keeble Outlets One Dozen (12) Kitchen Dish Tow...,Already ordered another set!,"These are very nice for drying: glassware, fla..."
12962,12963,__label2__,2,Y,Beauty,B0084BPHIM,2 Nail Art Tweezers Curved Straight Pointed On...,Dont waste your money,Was delivered earlier than expected. However y...

In [4]:
train.columns[train.isnull().any()]

Index([], dtype='object')

In [9]:
train[train['REVIEW_TEXT'].isnull()].shape

(0, 9)

In [10]:
train[train['REVIEW_TEXT'].isnull()].head()

Empty DataFrame
Columns: [DOC_ID, LABEL, RATING, VERIFIED_PURCHASE, PRODUCT_CATEGORY, PRODUCT_ID, PRODUCT_TITLE, REVIEW_TITLE, REVIEW_TEXT]
Index: []

In [11]:
train.dtypes

DOC_ID                int64
LABEL                object
RATING                int64
VERIFIED_PURCHASE    object
PRODUCT_CATEGORY     object
PRODUCT_ID           object
PRODUCT_TITLE        object
REVIEW_TITLE         object
REVIEW_TEXT          object
dtype: object

In [12]:
train.drop(columns=['DOC_ID','RATING','VERIFIED_PURCHASE','PRODUCT_CATEGORY','PRODUCT_ID','PRODUCT_TITLE','REVIEW_TITLE'],inplace=True)

In [13]:
train

            LABEL                                        REVIEW_TEXT
0      __label1__  When least you think so, this product will sav...
1      __label1__  Lithium batteries are something new introduced...
2      __label1__  I purchased this swing for my baby. She is 6 m...
3      __label1__  I was looking for an inexpensive desk calcolat...
4      __label1__  I only use it twice a week and the results are...
...           ...                                                ...
12958  __label2__  It has helped a great deal very humane and goo...
12959  __label2__  Not the same craftsmanship as the Kurt Adler M...
12960  __label2__  The sword is well balanced. It's made by condo...
12961  __label2__  These are very nice for drying: glassware, fla...
12962  __label2__  Was delivered earlier than expected. However y...

[12963 rows x 2 columns]

In [14]:
train

            LABEL                                        REVIEW_TEXT
0      __label1__  When least you think so, this product will sav...
1      __label1__  Lithium batteries are something new introduced...
2      __label1__  I purchased this swing for my baby. She is 6 m...
3      __label1__  I was looking for an inexpensive desk calcolat...
4      __label1__  I only use it twice a week and the results are...
...           ...                                                ...
12958  __label2__  It has helped a great deal very humane and goo...
12959  __label2__  Not the same craftsmanship as the Kurt Adler M...
12960  __label2__  The sword is well balanced. It's made by condo...
12961  __label2__  These are very nice for drying: glassware, fla...
12962  __label2__  Was delivered earlier than expected. However y...

[12963 rows x 2 columns]

In [16]:
train[train['REVIEW_TEXT'].isnull()].shape

(0, 2)

In [17]:
train[train['REVIEW_TEXT'].isnull()].head()

Empty DataFrame
Columns: [LABEL, REVIEW_TEXT]
Index: []

In [18]:
train=train.dropna()

In [19]:
train.columns[train.isnull().any()]

Index([], dtype='object')

In [ ]:
train.loc[train['Classification']==1, 'Classification'] = 'Genuine'
train.loc[train['Classification']==0, 'Classification'] = 'Fake'

In [ ]:
train

In [ ]:
df_x=train['Review']
df_y=train['Classification']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.3, random_state=9)
print(x_train.shape)
print(x_test.shape)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer= TfidfVectorizer(min_df=1,stop_words='english')

In [ ]:
tfidf_train = tfidf_vectorizer.fit_transform(x_train) 
tfidf_test  = tfidf_vectorizer.transform(x_test)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(tfidf_train,y_train)

In [ ]:
with open('tfid.pickle','wb') as f:
    pickle.dump(tfidf_vectorizer,f)

In [ ]:
with open('model_fakenews.pickle','wb') as f:
    pickle.dump(model,f)

In [ ]:
#model.score(X_train_counts,y_train)

In [ ]:
#from sklearn.metrics import accuracy_score
#y_pred = model.predict(X_test_counts)
#accuracy_score(y_pred,y_test)